.storybook-progressbar{
    background-color: #343a40;
    border-radius: 10px;
}
.progress-bar{
    background-color: #0d6efd;
    color: #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;
}